@if (members(); as paginatedRsult) {
  <div class="flex flex-col w-full">
    <div class="flex justify-between items-center">
      <div class="flex gap-3 items-center">
        <button class="btn btn-primary" (click)="openModal()">select Filters</button>
        <button class="btn btn-neutral" (click)="resetFilter()">Reset Filters</button>
        <div class="text-lg bg-base-100 py-2 px-4 border-l rounded-lg text-primary capitalize">
          {{displayMessage}}
        </div>
      </div>
      <app-paginator
   
        [pageNumber]="paginatedRsult.currentPage"
        [pageSize]="paginatedRsult.pageSize"
        [totalItems]="paginatedRsult.totalItems"
        (pageChange)="onPageChange($event)"
      ></app-paginator>
    </div>
    @if (paginatedRsult.pageResult; as members) {
      <div class="grid grid-cols-5 gap-6">
        @for (member of members; track member.id) {
          <app-member-card [member]="member" />
        }
      </div>
    }
  </div>
}

<app-filter-model
   #filterModal
  (closeModel)="onClose()"
  [memberParams]="memberParams"
  (memberParams)="memberParams"
  (submitData)="onFilterChange($event)"
  [hidden]="!members()"
/>
