<header class="p-3 w-full fixed top-0 z-50 bg-gradient-to-r from-primary to-black">
  <div (mouseleave)="onMouseLeave()" class="flex align-middle items-center px-10 mx-auto gap-6">
    <a
      routerLinkActive="text-accent"
      routerLink="/"
      [routerLinkActiveOptions]="{ exact: true }"
      [class.text-white]="!(router.url === '/')"
      class="flex items-center gap-3 max-h-16 border-r-white border-r-2 pr-6"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="currentColor"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M15 19.128a9.38 9.38 0 0 0 2.625.372 9.337 9.337 0 0 0 4.121-.952 4.125 4.125 0 0 0-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 0 1 8.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0 1 11.964-3.07M12 6.375a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0Zm8.25 2.25a2.625 2.625 0 1 1-5.25 0 2.625 2.625 0 0 1 5.25 0Z"
        />
      </svg>

      <h3 class="text-2xl font-semibold uppercase">Dating App</h3>
    </a>

    <nav class="flex gap-3 my-2 uppercase text-lg text-white">
      @if (accountService.currentUser()) {
        <a
          routerLink="/members"
          routerLinkActive="text-accent"
          [routerLinkActiveOptions]="{ exact: true }"
          >Matches</a
        >
        <a routerLink="/lists" routerLinkActive="text-accent">Lists</a>
        <a routerLink="/messages" routerLinkActive="text-accent">Messages</a>
        <a *appHasRole="['Admin', 'Moderator']" routerLink="/admin" routerLinkActive="text-accent"
          >Admin</a
        >
      }
    </nav>

    @if (busyService.busyCount() > 0) {
      <span class="loading loading-spinner text-accent"></span>
    }

    <div class="flex align-middle ml-auto gap-3">
      @if (accountService.currentUser(); as user) {
        <div class="dropdown mr-5 dropdown-end">
          <button
            tabindex="1"
            role="button"
            class="flex flex-col justify-center align-middle text-white cursor-pointer uppercase text-x5"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-6 flex self-center"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M9.53 16.122a3 3 0 0 0-5.78 1.128 2.25 2.25 0 0 1-2.4 2.245 4.5 4.5 0 0 0 8.4-2.245c0-.399-.078-.78-.22-1.128Zm0 0a15.998 15.998 0 0 0 3.388-1.62m-5.043-.025a15.994 15.994 0 0 1 1.622-3.395m3.42 3.42a15.995 15.995 0 0 0 4.764-4.648l3.876-5.814a1.151 1.151 0 0 0-1.597-1.597L14.146 6.32a15.996 15.996 0 0 0-4.649 4.763m3.42 3.42a6.776 6.776 0 0 0-3.42-3.42"
              />
            </svg>
          </button>
          <ul
            tabindex="1"
            class="dropdown-content menu bg-base-100 rounded-box z-50 w-52 p-2 shadow-sm"
          >
            @for (theme of getThemes; track $index) {
              <li class="p-1 font-semibold" (click)="handleSelectThem(theme)">
                <a>{{ theme }}</a>
              </li>
            }
          </ul>
        </div>

        <div class="dropdown dropdown-end">
          <div tabindex="0" role="button" class="flex items-center text-white gap-3 cursor-pointer">
            <img
              [src]="user.photoUrl ?? '/user.png'"
              alt="user avatar"
              class="w-8 h-8 rounded-full"
            />
            <span>{{ user.userName }}</span>
          </div>
          <ul
            tabindex="-1"
            class="dropdown-content menu bg-base-100 rounded-box z-1 w-52 p-2 shadow-sm"
          >
            <li><a (click)="goToProfile()">Edit Profile</a></li>
            <li><a (click)="logout()">Logout</a></li>
          </ul>
        </div>
      } @else {
        <form [formGroup]="loginForm" (ngSubmit)="login()" class="flex items-center gap-3">
          <input formControlName="email" type="text" class="input" placeholder="Email" />
          <input formControlName="password" type="password" class="input" placeholder="Password" />
          <button [disabled]="loginForm.invalid || isInProgress()" type="submit" class="btn">
            Login
          </button>
        </form>
      }
    </div>

    @if (accountService.currentUser()) {
      <div (mouseover)="onMouseOver()" class="relative inline-block cursor-pointer">
        <svg xmlns="http://www.w3.org/2000/svg" height="24" width="21" viewBox="0 0 448 512">
          <path
            fill="rgb(255, 212, 59)"
            d="M224 0c-17.7 0-32 14.3-32 32l0 3.2C119 50 64 114.6 64
      192l0 21.7c0 48.1-16.4 94.8-46.4 132.4L7.8 358.3C2.7 364.6
      0 372.4 0 380.5 0 400.1 15.9 416 35.5
      416l376.9 0c19.6 0 35.5-15.9 35.5-35.5
      0-8.1-2.7-15.9-7.8-22.2l-9.8-12.2C400.4
      308.5 384 261.8 384 213.7l0-21.7c0-77.4-55-142-128-156.8l0-3.2
      c0-17.7-14.3-32-32-32zM162 464c7.1 27.6
      32.2 48 62 48s54.9-20.4 62-48l-124 0z"
          />
        </svg>

        @if (presence.unReadMessages().length > 0) {
          <span
            class="absolute -top-2 -right-2 flex h-5 w-5 items-center justify-center rounded-full bg-red-500 text-xs text-white"
          >
            {{ presence.unReadMessages().length >= 100 ? '99+' : presence.unReadMessages().length }}
          </span>
        }

        @if (displayUnReadMessgaes) {
          <div
            (mouseleave)="onMouseLeave()"
            class="absolute right-0 top-8 z-50 w-80 max-h-96 overflow-y-auto rounded-lg border bg-white shadow-xl"
          >
            @if (presence.unReadMessages().length > 0) {
              @for (message of presence.unReadMessages(); track message.id) {
                <div (click)="navigateToChat(message.senderId)" class="flex gap-3 p-3 hover:bg-gray-100 border-b">
                  <img [src]="message.senderImageUrl" class="w-10 h-10 rounded-full" />

                  <div>
                    <div class="font-semibold text-black">
                      {{ message.senderName }}
                    </div>

                    <div class="text-sm text-gray-500">
                      {{ message.content }}
                    </div>
                  </div>
                  <div class="text-sm text-cyan-300">
                    {{ message.dateSent | timeAgo }}
                  </div>
                </div>
              }
            } @else {
              <div class="flex h-20 items-center justify-center">
                <span class="text-gray-500 font-medium"> No unread messages </span>
              </div>
            }
          </div>
        }
      </div>
    }
  </div>
</header>
